Source: python-payline
Section: python
Priority: optional
Maintainer: Raphaël Hertzog <hertzog@debian.org>
Build-Depends:
 debhelper (>=9),
 dh-python,
 python-all (>= 2.6.6-3~),
 python-setuptools,
 python-pysimplesoap,
 python3-all,
 python3-setuptools,
 python3-pysimplesoap,
Standards-Version: 3.9.8
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4

Package: python-payline
Architecture: all
Depends: python-pysimplesoap, ${misc:Depends}, ${python:Depends}
Description: Process payments with Payline (Python 2)
 This package provides a Python API to process payments with Payline
 (https://www.payline.com) which is a French payment service provider.
 .
 This package installs the library for Python 2.

Package: python3-payline
Architecture: all
Depends: python3-pysimplesoap, ${misc:Depends}, ${python3:Depends}
Description: Process payments with Payline (Python 3)
 This package provides a Python API to process payments with Payline
 (https://www.payline.com) which is a French payment service provider.
 .
 This package installs the library for Python 3.
